<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Kategori Akun</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Home</a></li>
        <li class="breadcrumb-item">Pengaturan</li>
        <li class="breadcrumb-item active" aria-current="page">Pengaturan Akun</li>
    </ol>
</div>

<div class="card mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Pengaturan</h6>
        <div class="position-relative">
            <!-- Add any additional action buttons or elements here -->
        </div>
    </div>

    <div class="card-body">
        <h5 class="mb-4" style="text-align: center;">Data Lengkap Akun</h5>
        <div class="row mb-3">
            <div class="col-sm-4">
                <strong>Username</strong>
            </div>
            <div class="col-sm-8">: <%= username %>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-4">
                <strong>Jabatan</strong>
            </div>
            <div class="col-sm-8">: <%= jabatan %> 
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-4">
                <strong>Unit</strong>
            </div>
            <div class="col-sm-8">: <%= unit %>
            </div>
        </div>
        
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary" type="button" onclick="ubahPassword()">Ubah Password</button>
            </div>
        </div>
    </div>
</div>
